body{background-color:#04a6eb;
     color:#fdffff;
     width:500px;
     margin-right:auto;
     margin-left:auto;}
button{padding:5px 20px;
       background-color:#337ab7;
       color:#fdffff;
       border-style:none;} 
input{height:20px;}
/*width 幅の設定
　margin 余白の設定
　padding 要素の内側の設定
　9境界線を表示してない*/
/*カラースキームやカラーピックだと色彩豊か*/
